@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
@font-face {
  font-family: 'Cooper-bT';
  src: url('/Cooper.ttf') format('truetype'); /* Adjusted to point directly from public folder */
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Cooper-bt-bold';
  src: url('/CooperBT-Bold.otf') format('truetype'); /* Adjust the path if necessary */
  font-weight: bold; /* Bold variant */
  font-style: normal;
}


/* Tailwind CSS Utilities */
.font-cooper-bt {
  font-family: 'Cooper-bT', sans-serif;
}

.font-cooper-bt-bold {
  font-family: 'Cooper-bt-bold', sans-serif;
}